*.iml
.gradle
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
!Gemfile.lock
/build/
/app/build
/app/build/
/app/buildSrc/
/app/keys/
/.idea/
/captures
*.externalNativeBuild
*.cxx
.externalNativeBuild
.cxx
app/stage/output.json
app/stage/app-stage.apk
~/tmp/full-r8-config.txt
/idnfc/build/
app/stage/output-metadata.json
app/signing.properties
*signing.properties
*.jks
*.keystore
/app/huawei/
/app/gplay/
.ruby-version
!buildSrc
buildSrc/build/
